body, html {
    margin: 0px;
    padding: 0px;
}

#area{
  border: 1px black solid;
  width: 400px;
  height: 500px;
  margin: 0 auto;
  position: relative;
  cursor: none;
  overflow: hidden;
}
#catcher{
  position: absolute;
  top: 470px;
  left: 160px;
}

.fallingItem{
  position: absolute;
  width: auto;
  height: auto;
}

#start{
  color: white;
  background-color: salmon;
  width: 400px;
  margin: 30px;
  text-align: center;
  cursor: pointer;
}
.img_load{
  display: none;
}
