body, html {
    margin: 0px;
    padding: 0px;
}

#area{
  border: 1px red solid;
  width: 400px;
  height: 500px;
  margin: 30px;
  position: relative;
  cursor: none;
  /* overflow: hidden; */
}
#catcher{
  position: absolute;
  top: 469px;
  left: 145px;
}

.fallingItem{
  position: absolute;
  width: 40px;
  height: 40px;
}

#start{
  color: white;
  background-color: salmon;
  width: 400px;
  margin: 30px;
  text-align: center;
  cursor: pointer;
}
